plugins
bower_components
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# pdf
web/*.pdf
web/.pdf
*.pdf
# doc
*.doc
*.docx
*.odt
# xls
*.xls
*.xlsx
*.ods
# ppt
*.ppt
*.pptx
*.odp
# phpstorm project files
.idea

# netbeans project files
nbproject

# sql
*.sql

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant